1.Import the dataset and explore basic info (nulls, data types).

In [5]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

# Load dataset
df = pd.read_csv("Titanic-Dataset.csv")

# Drop irrelevant columns
df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)

# Drop rows with missing values in 'Age' and 'Embarked' (required for encoding)
df = df.dropna(subset=['Age', 'Embarked'])

# Label encode 'Sex' column (male=1, female=0)
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

# One-hot encode 'Embarked' column, drop the first to avoid multicollinearity
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

# Result
print(df.head())

# importing dataset
df = pd.read_csv("Titanic-Dataset.csv") 

#top 5 row
print("First 5 rows:")
print(df.head())

# Column-wise data types and  non-null count
print("\n Dataset info:")
print(df.info())

# checking missing value
print("\n Missing values:")
print(df.isnull().sum())

# checking data types
print("\n Data types:")
print(df.dtypes)

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  \
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True
First 5 rows:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

 Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

 Missing values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

 Data types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

 2.Handle missing values using mean/median/imputation.

In [6]:
# 1. Age column — fill with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# 2. Embarked column — fill with most frequent (mode)
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# 3. Cabin column — drop
df.drop(columns=['Cabin'], inplace=True)

# now check missing value
print("\n Missing values after handling:")
print(df.isnull().sum())

 Missing values after handling:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

3.Convert categorical features into numerical using encoding

In [11]:
# Encode 'Sex' with label encoding
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])  # male=1, female=0

# One-hot encode 'Embarked'
df = pd.get_dummies(df, columns=['Embarked'], drop_first=True)

# Show updated DataFrame
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare  Embarked_Q  Embarked_S
0         A/5 21171   7.2500       False        True
1          PC 17599  71.2833       False       False
2  STON/O2. 3101282   7.9250       False        True
3            113803  53.1000       False        True
4            373450   8.0500       False        True

 4.Normalize/standardize the numerical features.

In [22]:
from sklearn.preprocessing import StandardScaler

# Select numerical columns to scale
num_cols = ['Age', 'Fare', 'SibSp', 'Parch']
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

# Show scaled data
print(df[num_cols].head())

        Age      Fare     SibSp     Parch
0 -0.565736 -0.502445  0.432793 -0.473674
1  0.663861  0.786845  0.432793 -0.473674
2 -0.258337 -0.488854 -0.474545 -0.473674
3  0.433312  0.420730  0.432793 -0.473674
4  0.433312 -0.486337 -0.474545 -0.473674